.category_container{
  width: 92vw;
  max-width: 380px;
  background-color: #515050;
  display: flex;
  margin: 20px auto;
  flex-direction: column;
  border-radius: 15px;
  overflow: hidden;
}
.category_name{
  padding: 15px 0;
  text-align: center;
  font-weight: 700;
  font-size: 22px;
}
.category_content{
  position: relative;
}
/*
.add_task_btn, .remove_category_btn{
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  font-size: 16px;
  border-radius: 10px;
  border: none;
}
.add_task_btn{
  background-color: #7EB0F2;
}
.remove_category_btn{
  background-color: rgba(186, 50, 246, 0.4);

}*/
.shrinked>.category_content{
  display: none;
}

.category_btns{
  left: 0;
  bottom: 0;
  background-color: red;
  margin: 0;
  display: flex;
  align-items: stretch;
}
.category_btns>button{
  width: 50%;
  padding: 15px 15px;
  color: #fff;
  font-size: 18px;
  border: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}
.add_task_btn{
  background-color: #3BB2BF;
}
.remove_category_btn{
  background-color: #BF2F3B;
}

@media (min-width: 768px){
  .category_container{
    margin: 20px 20px;
  }

  .category_btns>button{
    padding: 20px 20px;
  }
}

